{{>footer}} {{>auto-reload}} {{>css-update-button}}

<script src="/vendor/rellax.min.js"></script>
<script>
    /*global Rellax*/
    var rellax = new Rellax('.rellax');
</script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script type="text/javascript">
    /*global $*/
    $(window).scroll(function() {
        var s = $(window).scrollTop();
        if (s > 50) {
            $('.arrow').fadeOut();
        }
        else {
            $('.arrow').fadeIn();
        }
    });

    function adjustLatBackground() {
        var bgs = ['bg-0', 'bg-1', 'bg-2', 'bg-3']; //, 'bg-4'
        var height = 0;
        for (var n in bgs) height += $('.' + bgs[n]).outerHeight(true);
        $('.bg-5').css('min-height', $('#wrap').outerHeight(true) - height);
    }

    $(window).resize(function() {
        $('.backgrounds div').width($(window).width());
        $('.bg-0').css('min-height', $(window).height())
        adjustLatBackground();
    });
    adjustLatBackground();
    $('.bg-0').css('min-height', $(window).height())
    $('.backgrounds div').width($(window).width());
</script>

<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=591bf5380a922e00129f425d&product=sticky-share-buttons"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60303213-7', 'auto');
  ga('send', 'pageview');

</script>